.center {
  display: flex;
  justify-content: center;
}
.container {
  width: 70%;
  text-align: center;
  margin: auto;
}
.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
